<ion-header>
  <ion-toolbar>
    <!--page title now stored in variable-->
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--creates list-->
   <ion-list>
     <!--creates sliding items for each grocery item-->
     <!--uses array to show items-->
     <ion-item-sliding *ngFor="let item of items; let i = index">
       <ion-item>
         <h2>{{item.name}}</h2>
         <p>{{item.quantity}}</p>
       </ion-item>
       <ion-item-options>
         <!--clicking 'Done' button calls removeItem function-->
         <button (click)="removeItem(item, i)" ion-button color="secondary" icon-start>
           <ion-icon name="trash"></ion-icon>
           Done
         </button>
       </ion-item-options>
     </ion-item-sliding>

   </ion-list>

   <!--creates add item button-->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
     <!--calls addItem function to allow user to input a new item and add it to the list-->
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
